<h2><%= topic.name %></h2>



<h2>Links</h2>

<% if(links) { %>
  <% links.forEach(function(link) { %>
    <div class="container">
      <h3>
        <a href="<%= link.href %>" target="_blank"><%= link.href %></a>
      </h3>
    </div>
  <% }) %>
<% } else { %>
  <h3>No links yet.</h3>
<% } %>

<hr>


<h2>Notes</h2>

<% if (notes) { %>
    <% notes.forEach(function(note) { %>
        <div class="container">
            <h3>
                <a href="/notes/<%= note.id %>/edit">
                 <%= note.content %> 
                </a>
            </h3>
        </div>
        
    <% }) %>

<% } %>

<hr>