<h4><%= topic.name %></h4>



<h4>Links</h4>

<% if(links) { %>
  <% links.forEach(function(link) { %>
    <div class="container">
      <h5>
        <a href="<%= link.href %>" target="_blank"><%= link.href %></a>
      </h5>
    </div>
  <% }) %>
<% } else { %>
  <h4>No links yet.</h4>
<% } %>

<hr>


<h4>Notes</h4>

<% if (notes) { %>
    <% notes.forEach(function(note) { %>
        <div class="container">
            <h5>
                <a href="/notes/<%= note.id %>/edit">
                 <%= note.content %> 
                </a>
            </h5>
        </div>
        
    <% }) %>

<% } %>

<hr>

<h4>Images</h4>

<hr>